html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body, section {
	color: #333;
	margin: 0;
		margin:0;
		padding:0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
  /* Mobile Navigation */
  .mobile-nav-toggle {
	position: fixed;
	right: 15px;
	top: 20px;
	z-index: 9998;
	border: 0;
	background: none;
	font-size: 24px;
	transition: all 0.4s;
	outline: none !important;
	line-height: 1;
	cursor: pointer;
	text-align: right;
  }
  
  .mobile-nav-toggle i {
	color: #384046;
  }
  
  .mobile-nav {
	position: fixed;
	top: 55px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	z-index: 9999;
	overflow-y: auto;
	background: #fff;
	transition: ease-in-out 0.2s;
	opacity: 0;
	visibility: hidden;
	border-radius: 10px;
	padding: 10px 0;
  }
  
  .mobile-nav * {
	margin: 0;
	padding: 0;
	list-style: none;
  }
  
  .mobile-nav a {
	display: block;
	position: relative;
	color: #384046;
	padding: 10px 20px;
	font-weight: 500;
	outline: none;
  }
  
  .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
	color: #3498db;
	text-decoration: none;
  }
  
  .mobile-nav .drop-down > a:after {
	content: "\ea99";
	font-family: IcoFont;
	padding-left: 10px;
	position: absolute;
	right: 15px;
  }
  
  .mobile-nav .active.drop-down > a:after {
	content: "\eaa1";
  }
  
  .mobile-nav .drop-down > a {
	padding-right: 35px;
  }
  
  .mobile-nav .drop-down ul {
	display: none;
	overflow: hidden;
  }
  
  .mobile-nav .drop-down li {
	padding-left: 20px;
  }
  
  .mobile-nav-overly {
	width: 100%;
	height: 100%;
	z-index: 9997;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(33, 38, 42, 0.6);
	overflow: hidden;
	display: none;
	transition: ease-in-out 0.2s;
  }
  
  .mobile-nav-active {
	overflow: hidden;
  }
  
  .mobile-nav-active .mobile-nav {
	opacity: 1;
	visibility: visible;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
	color: rgb(253, 179, 43);
  }
  #hero .btn-get-started {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 2px;
	display: inline-block;
	padding: 12px 28px;
	border-radius: 4px;
	transition: ease-in-out 0.3s;
	color: #fff;
	background: #3498db;
	text-transform: uppercase;
  }
  
  #hero .btn-get-started:hover {
	background: #4ea5e0;
  }
  
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/ 
  .section-bg {
	background-color:   #19c392  ;
	color:  black ;
  }
  
  .section-title {
	text-align: center;
	padding-bottom: 30px;
  }
  
  .section-title h2 {
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
  }
  
  .section-title h2::before {
	content: '';
	position: absolute;
	display: block;
	width: 120px;
	height: 1px;
	background: #ddd;
	bottom: 1px;
	left: calc(50% - 60px);
  }
  
  .section-title h2::after {
	content: '';
	position: absolute;
	display: block;
	width: 40px;
	height: 3px;
	background: #3498db;
	bottom: 0;
	left: calc(50% - 20px);
  }
  
  .section-title p {
	margin-bottom: 0;
  }
  #snackbar {
	visibility: hidden; /* Hidden by default. Visible on click */
	min-width: 250px; /* Set a default minimum width */
	margin-left: -125px; /* Divide value of min-width by 2 */
	background-color: #333; /* Black background color */
	color: #fff; /* White text color */
	text-align: center; /* Centered text */
	border-radius: 2px; /* Rounded borders */
	padding: 16px; /* Padding */
	position: fixed; /* Sit on top of the screen */
	z-index: 1; /* Add a z-index if needed */
	left: 50%; /* Center the snackbar */
	bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
	visibility: visible; /* Show the snackbar */
	/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
	However, delay the fade out process for 2.5 seconds */
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }